body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 400px;
}

#score {
    color: cornflowerblue;
}

#board {
    width: 350px;
    height: 350px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chunk {
    width: 350px;
    height: 50px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.mode {
    width: 169px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mode-selected {
    background-color: gray;
}

.tile-start {
    background-color: whitesmoke;
}